
body{
  background-color: #F4F4F4;
}
.navButtons{
  
}
.navButtons > * {
  padding: 10px;
}

 a:-webkit-any-link {
  text-decoration: none;
  color:black;
}


.introMain{
  background-image: url("./components/homePage/images/homePic.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleContainer{
 
  width: 60%;

  display: flex;
  flex-direction: column;
  align-items: center;
  color:whitesmoke;
}


.serviceContainer{
    width:100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;

}

.serviceTitle{
  width: 100%;
  font-size: 22px;
   display: flex;
   justify-content: center;
}

.serviceItems{
  display: flex;
  width: 100%;
  flex-wrap: wrap;

}
.serviceItems > div {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.picCardsCotainer{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  flex-wrap: wrap;
  
}


.picCardsCotainer > div{
  width: 31%;
  background-color: #51555A;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  text-align: center;
  color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.picCardsCotainer > div > p {
  padding: 10px;
}



.roomContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.roomContainer > div {
  margin-bottom: 50px;
}

.roomIntroContainer{
  width: 100%;
  height:500px;
  background-image: url("./components/rooms/images/introPic.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
 
  display: flex;
  justify-content: center;
  align-items: center;
}



.MuiTextField-root{
 width: 100%;
  
}
form{
  width: 100%;
}

.datePicker{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.datePicker > div {
  width: 30%;
  margin-left: 20px;
}




/*room Grid*/

.roomGridMainCont{
  width: 100%;
 
 
  display: flex;
  
  justify-content: center;
  
}


.rooms{
  width: 30%;
  
  background-color:#FFFFFF;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 25px;

}


.roomInfo{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid grey;
}

.roomImage {
  width: 100%;
  height: 200px;
 
}
.roomDesc{
  width: 100%;
  display: flex;
 flex-direction: column;
 align-items: center;
  
  
}

.specificDesc{
  display: flex;
  width: 100%;
  justify-content: center;
}

.specificDesc > div {
  margin-left: 20px;
  width: 25%;
  text-align: center;;
 
}

.roomPrice{
  display: flex;
  justify-content: flex-end;
}

.roomPrice > *{
  margin-right: 20px;
}
