
body{
  background-color: #F4F4F4;
  
}
.navButtons{
  
}

a {
  text-decoration: none;
  color: black;
}
.navButtons > * {
  padding: 10px;
}

 a:-webkit-any-link {
  text-decoration: none;
  color:black;
}



.introMain{
  background-image: url("./components/homePage/images/homePic.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleContainer{
 
  width: 60%;

  display: flex;
  flex-direction: column;
  align-items: center;
  color:whitesmoke;
  text-align: center;
}


.serviceContainer{
    width:100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;

}

.serviceTitle{
  width: 100%;
  font-size: 22px;
   display: flex;
   justify-content: center;
   text-align: center;
}

.serviceItems{
  display: flex;
  width: 100%;
  flex-wrap: wrap;

}
.serviceItems > div {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.picCardsCotainer{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  flex-wrap: wrap;
  
}


.picCardsCotainer > div{
  width: 31%;
  background-color: #51555A;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  text-align: center;
  color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.picCardsCotainer > div > p {
  padding: 10px;
}



.roomContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.roomContainer > div {
  margin-bottom: 50px;
}

.roomIntroContainer{
  width: 100%;
  height:500px;
  background-image: url("./components/rooms/images/introPic.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
 
  display: flex;
  justify-content: center;
  align-items: center;
}



.MuiTextField-root{
 width: 100%;
  
}
form{
  width: 100%;
}

.datePicker{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.datePicker > div {
  width: 30%;
  margin-left: 20px;
}

.filter{
  width : 100%;
  
}


/*room Grid*/

.roomGridMainCont{
  width: 100%;
 
 
  display: flex;
  
  justify-content: center;
  flex-wrap: wrap;
  
}


.rooms{
  width: 30%;
  
  background-color:#FFFFFF;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 25px;

}


.roomInfo{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid grey;
}

.roomImage {
  width: 100%;
  height: 200px;
 
}
.roomDesc{
  width: 100%;
  display: flex;
 flex-direction: column;
 align-items: center;
  
  
}

.specificDesc{
  display: flex;
  width: 100%;
  justify-content: center;
}

.specificDesc > div {
  margin-left: 20px;
  width: 25%;
  text-align: center;;
 
}

.roomPrice{
  display: flex;
  justify-content: flex-end;
}

.roomPrice > *{
  margin-right: 20px;
}



.roomDetailsMain{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
 
}
.roomDetailsMain > * {
  margin-bottom: 20px;
  
}
.roomDetsPics{
  display: flex;
  width: 90%;
  
  justify-content: center;
  flex-wrap: wrap;
}

.roomDetsPics > * {
  margin-left:  20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mainDetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainDetails > div{
  display: flex;
  justify-content: center;
  
}
.mainDetails > div > * {
  
}


.roomDetsdesc{
  display: flex;
  width: 50%;
  
}





.checkoutMain{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.nameCont{
  width: 60%;

  height: 200px;
  margin-bottom: 60px;
}

.addressCont{
  width: 60%;
 
  margin-bottom: 30px;
}

.paymentCont{
  width: 60%;
 
  
  margin-bottom: 90px;

}
.checkOutInfo{
  display: flex;
  justify-content: center;
}
.checkOutInfo > * {
  margin-left: 20px;
}

.bookNow{
 display: flex;
  width: 100%;
  align-items: center;
  height: 50px;
  background-color: #444054;
  margin-bottom: 90px;
  margin-top: 20px;
  justify-content: center;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.bookNow:hover {
  opacity: 0.9;
} 




.confirmationCont{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.confirmBox{
  width: 50%;
  border-bottom: 1px solid black;
  text-align: center;
}


/*reservation */
.reservationIntro {
  width: 100%;
  height: 500px;
  background-image: url("./components/reservations/images/beds.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.reservationIntro h1 {
  font-size: 3.2em;
}

.reservForm {
  text-align: center;
}

.reservForm button {
  position: relative;
  top: 2em;
  left: 1em;
}

.reservedRoom {
  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 2em 20%;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.reservedRoom img {
  width: 100%;
  height: auto;
}

.reservedRoom ul {
  padding: 0;
}

.reservedRoom ul {
  display: flex;
  flex-direction: row;
}

.reservedRoom .listValues {
  font-weight: bold;
  flex-direction: column;
  margin: 0 auto 0 auto;
}

.reservedRoom ul > div li:first-child {
  color: gray;
  font-weight: 400;
  margin-bottom: .5em;
}

.reservedRoom hr {
  border: none;
  height: 1px;
  background-color: #EAECEE;
}

.priceAndCancel {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.invalidConfirmationNum {
  display: none;
  text-align: center;
  color: #DA470C;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.cancelConfm {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  padding: 1em 0 2em 0;
  background-color: white;
  width: 40%;
  position: relative;
  top: 14em;
}

.cancelBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cancelBtns Button {
  width: 30%;
  margin: 5px;
}

li {
  list-style-type: none;
}



/*media queries */

@media only screen and (max-width: 1050px){
  .serviceItems{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    
  
  }
  .serviceItems > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }


  .picCardsCotainer{
    display: flex;
    width: 100%;
   
    margin-top: 100px;
    
    flex-direction: column;
    align-items: center;
    
  }
  
  
  .picCardsCotainer > div{
    width: 90%;
    background-color: #51555A;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left : 0px;
    margin-bottom: 20px;
 
    text-align: center;
    color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .roomGridMainCont{
    width: 100%;
   
   
    display: flex;
    
    align-items: center;
    flex-direction: column;

  }
  
  
  .rooms{
    width: 60%;
    
    background-color:#FFFFFF;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .reservedRoom {
    margin: 1em 15%;
  }

  .reservedRoom ul {
    flex-direction: column;
  }

  .reservedRoom .listValues {
    display: flex;
    flex-direction: row;
  }
  
  .reservedRoom .listValues li {
    margin: 0 3px;
  }

  .cancelConfm {
    width: 50%;
    padding: 1em;
  }

  .cancelBtns Button {
    width: 40%;
  }
  
}

@media only screen and (max-width: 700px){

  .introMain{
    background-image: url("./components/homePage/images/homePic.jpg");
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .roomIntroContainer{
    width: 100%;
    height:500px;
    background-image: url("./components/rooms/images/introPic.jpg");
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .reservationIntro {
    width: 100%;
    height: 500px;
    background-image: url("./components/reservations/images/beds.jpg");
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .serviceItems{
    display: flex;
    width: 100%;
   
    flex-direction: column;
    align-items: center;
    
  
  }
  
  .datePicker{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    align-items: center;
  }
  
  .datePicker > div {
    width: 60%;
    margin-left: 20px;
  }
  .filter{
    
    text-align: center;
  }
  .rooms{
    width: 95%;
    margin-left: 0;
    background-color:#FFFFFF;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  
  }
  .roomPrice{
    display: flex;
    justify-content: center;
  }
  .mainDetails > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .roomDetsPics{
    display: flex;
    width: 90%;
    
    flex-direction: column;
    align-content: center;
    
  }
    .roomDetsPics > img{
      width: 350px;
      margin-left: 0px;
    }
  
  .reservedRoom {
    margin: 1em 5%;
    padding-bottom: 1em;
  }

  .reservedRoom .priceAndCancel {
    flex-direction: column;
  }
  
  .reservedRoom ul {
    margin: 0;
  }

  .reservedRoom h2 {
    margin: .5em 0;
  }

  .reservForm {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }

  .reservForm button {
    width: 80%;
    position: unset;
    margin: 1em 0;
  }

  .cancelConfm {
    width: 80%;
  }
  
}